body{
	background-color: green;
}

#content{
	width: 100%;
}

.row{
	margin-top: 300px;
}

#logInFormDiv{
	position: absolute;
	left: 10%;
	/*background-color: white;*/
}

.logInElement{
	display: block;
	margin-top: 30px;
	font-size: 40pt;
}

#logInFormDiv input{
	height: 150px;
	width: 650px;
}

#LogInFormDiv button{
	height: 100px;
	width: 300px;
	margin-left: 28%;
}
